

<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
 <template>
   <style>
     :host {
       display: block;
     }
     .flag{
      width:140px;
      height:140px;
    }
   </style>

   <div class= "container">
     <div class="row">
       <img class="col-lg-8 col-xs-12 flag" src="https://image.flaticon.com/icons/svg/1604/1604233.svg" />

     </div>
   <div class="row">
     <button on-click="incrementar" class=" btn btn-success col-lg-4 col-xs-12" type=button name="button">Cargar Datos</button>
     <input type="text" placeholder="[[prop3]]" name="" value=""{{prop1::input}}>
     <input type="text" name="" value="{{prop1}}">
     </div>
     <div class="row">
       <table class="table table-striped col-lg-12 col-xs-12">
         <thead>
           <th>ID</th>
           <th>Nombre</h>
           <th>Apellido</th>
         </thead>
         <tbody>
                <tr>
                  <td>[[prop2]]</td>
                  <td>Selena</td>
                  <td>Mora</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Leandro</td>
                  <td>Gao</td>
                </tr>
              </tbody>
              </table>
              </div>
              </div>
          </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class Mivisor extends Polymer.Element {
     static get is() { return 'mi-visor'; }
     static get properties() {
       return {
         prop1: {
           type: String,
           value: 'mi-visor'
         },
         prop2:{
           type:Number,
           value:999
         },
         prop3:{
           type:String,
           value:"Indique su usuario"
         }
       };
     }
      incrementar(){
       this.prop2 = this.prop2 + 1;
       console.log(this.prop1);
       console.log(this.prop2);
     }
   }

   window.customElements.define(Mivisor.is, Mivisor);
 </script>
</dom-module>
